@font-face {
  font-family: 'esocial';
  src:  url('fonts/esocial.eot?uo7snt');
  src:  url('fonts/esocial.eot?uo7snt#iefix') format('embedded-opentype'),
    url('fonts/esocial.ttf?uo7snt') format('truetype'),
    url('fonts/esocial.woff?uo7snt') format('woff'),
    url('fonts/esocial.svg?uo7snt#esocial') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'esocial' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.esocial-px-with-circle:before {
  content: "\ea3e";
}
.esocial-px:before {
  content: "\ea3f";
}
.esocial-basecamp:before {
  content: "\ea40";
}
.esocial-behance:before {
  content: "\ea41";
}
.esocial-creative-cloud:before {
  content: "\ea42";
}
.esocial-dropbox:before {
  content: "\ea43";
}
.esocial-evernote:before {
  content: "\ea44";
}
.esocial-flattr:before {
  content: "\ea45";
}
.esocial-foursquare:before {
  content: "\ea46";
}
.esocial-google-drive:before {
  content: "\ea47";
}
.esocial-google-hangouts:before {
  content: "\ea48";
}
.esocial-grooveshark:before {
  content: "\ea49";
}
.esocial-icloud:before {
  content: "\ea4a";
}
.esocial-mixi:before {
  content: "\ea4b";
}
.esocial-onedrive:before {
  content: "\ea4c";
}
.esocial-paypal:before {
  content: "\ea4d";
}
.esocial-picasa:before {
  content: "\ea4e";
}
.esocial-qq:before {
  content: "\ea4f";
}
.esocial-rdio-with-circle:before {
  content: "\ea50";
}
.esocial-renren:before {
  content: "\ea51";
}
.esocial-scribd:before {
  content: "\ea52";
}
.esocial-sina-weibo:before {
  content: "\ea53";
}
.esocial-skype-with-circle:before {
  content: "\ea54";
}
.esocial-skype:before {
  content: "\ea55";
}
.esocial-slideshare:before {
  content: "\ea56";
}
.esocial-smashing:before {
  content: "\ea57";
}
.esocial-soundcloud:before {
  content: "\ea58";
}
.esocial-spotify-with-circle:before {
  content: "\ea59";
}
.esocial-spotify:before {
  content: "\ea5a";
}
.esocial-swarm:before {
  content: "\ea5b";
}
.esocial-vine-with-circle:before {
  content: "\ea5c";
}
.esocial-vine:before {
  content: "\ea5d";
}
.esocial-vk-alternitive:before {
  content: "\ea5e";
}
.esocial-vk-with-circle:before {
  content: "\ea5f";
}
.esocial-vk:before {
  content: "\ea60";
}
.esocial-xing-with-circle:before {
  content: "\ea61";
}
.esocial-xing:before {
  content: "\ea62";
}
.esocial-yelp:before {
  content: "\ea63";
}
.esocial-dribbble-with-circle:before {
  content: "\ea64";
}
.esocial-dribbble:before {
  content: "\ea65";
}
.esocial-facebook-with-circle:before {
  content: "\ea66";
}
.esocial-facebook:before {
  content: "\ea67";
}
.esocial-flickr-with-circle:before {
  content: "\ea68";
}
.esocial-flickr:before {
  content: "\ea69";
}
.esocial-github-with-circle:before {
  content: "\ea6a";
}
.esocial-github:before {
  content: "\ea6b";
}
.esocial-google-with-circle:before {
  content: "\ea6c";
}
.esocial-google:before {
  content: "\ea6d";
}
.esocial-instagram-with-circle:before {
  content: "\ea6e";
}
.esocial-instagram:before {
  content: "\ea6f";
}
.esocial-lastfm-with-circle:before {
  content: "\ea70";
}
.esocial-lastfm:before {
  content: "\ea71";
}
.esocial-linkedin-with-circle:before {
  content: "\ea72";
}
.esocial-linkedin:before {
  content: "\ea73";
}
.esocial-pinterest-with-circle:before {
  content: "\ea74";
}
.esocial-pinterest:before {
  content: "\ea75";
}
.esocial-rdio:before {
  content: "\ea76";
}
.esocial-stumbleupon-with-circle:before {
  content: "\ea77";
}
.esocial-stumbleupon:before {
  content: "\ea78";
}
.esocial-tumblr-with-circle:before {
  content: "\ea79";
}
.esocial-tumblr:before {
  content: "\ea7a";
}
.esocial-twitter-with-circle:before {
  content: "\ea7b";
}
.esocial-twitter:before {
  content: "\ea7c";
}
.esocial-vimeo-with-circle:before {
  content: "\ea7d";
}
.esocial-vimeo:before {
  content: "\ea7e";
}
.esocial-youtube-with-circle:before {
  content: "\ea7f";
}
.esocial-youtube:before {
  content: "\ea80";
}

