@import "../variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

#wrapper {

}

.table-layout {
  width: 100%;
  height: 100%;
  display: table;
}

.sidebar {
  padding: 0;
  display: table;
  height: 100% ;
  max-width: 350px;
  width: 200px;
  overflow: hidden;
  float: left;
  border-right: #f2f2f2 1px solid;
  background-color: #FFF;
  word-wrap: normal;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  position: absolute;


 .fa {
    font-size: 24px;
    padding: 0 10px 0 10px;
    display: block;
  }

 .fa-times-circle {
    display: none;
  }

  a:link, a:visited {
    color: $gray-light ;
  }

  a:hover, a:focus {
    color: $gray;
    text-decoration: none;
  }

  li {
    text-align: center;
    padding: 20px 0 20px;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    height: 80px;
  }

}

.sidebar-closed .sidebar {
  width: 80px;
  & a {
    padding: 10px 0 10px 0;
  }
}

.sidebar ul:first-child {
  text-align: left;
}

.sidebar nav {
  /*padding: 20px 5px 10px 5px;*/
}

li:first-child {
  height: 60px;
}

.nav-title {
  /*font-size: 14px;*/
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-closed .nav-title {
  /* display: none; */
  font-size: 10px;
}

.sidebar:hover {
  /*width: 260px;*/
}

.dashboard {
  /*/float: right;*/
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 0;
}

.dashboard > .container-fluid {
  margin-left: 210px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-closed .dashboard > .container-fluid {
  margin-left: 110px;
}

.footer {
  width: 100%;
  background-color: lightgrey;
}
