@import "../variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.table-layout {
    width: 100%;
    height: 100%;
    display: table; }

.layout-row {
    display: table-cell;
    vertical-align: middle;
}


.footer {
    width: 100%;
    background-color: lightgrey; }
