@import "variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
}

header {
    height: 30%;
    max-height: 300px;
    min-height: 200px;
    background: $gray-lighter;
    &.landing {
        height: 75%;
        max-height: 640px;
    }

}


header.landing h1 {
    font-size: 72px;
}


main, section, footer {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
}


footer {
    background-color: $gray-dark;
    color: $gray-light ;
}

.layout-table {
  display: table;
  width: 100% !important;
  height: 100% !important;
}

.layout-row {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.cover {
  height: 100%;
}
