#wrapper {
    height: 100%; }

.sidebar {
    padding: 0;
    display: table;
    height: 100%;
    max-width: 350px;
    width: 200px;
    overflow: hidden;
    float: left;
    border-right: #f2f2f2 1px solid;
    background-color: #333333;
    word-wrap: normal;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    position: absolute;
    z-index: 99; }
    .sidebar .fa, .sidebar .material {
        font-size: 24px;
        padding: 0 10px 0 10px;
        display: block;
        text-shadow: #000 1px 1px 3px; }
    .sidebar .fa-times-circle, .sidebar .nav-toggle {
        display: none; }
    .sidebar a:link, .sidebar a:visited {
        color: #B5B5B5; }
    .sidebar a:hover, .sidebar a:focus {
        color: #eeeeee;
        text-decoration: none; }
    .sidebar li {
        text-align: center;
        padding: 20px 0 20px;
        border-bottom: 1px dotted #222222;
        overflow: hidden;
        height: 70px; }

.sidebar-closed .sidebar {
    width: 80px; }
    .sidebar-closed .sidebar a {
        padding: 10px 0 10px 0; }
    .sidebar-closed .sidebar li {
        height: 60px; }

.sidebar ul:first-child {
    text-align: left; }

.sidebar nav {
    /*padding: 20px 5px 10px 5px;*/ }

li:first-child {
    height: 60px; }

.nav-title {
    font-size: 12px;
    display: block;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #777777; }

.sidebar-closed .nav-title {
    display: none;
    font-size: 9px;
    color: #555555; }

.sidebar:hover {
    /*width: 260px;*/ }

.dashboard {
    /*/float: right;*/
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 0;
    margin-left: 200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0 0; }
    .dashboard > div {
        padding: 0 40px 0; }

.dashboard > .container-fluid {
    margin-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.sidebar-closed .dashboard {
    margin-left: 80px; }

.dashboard-nav {
    height: 60px;
    box-sizing: border-box; }
    .dashboard-nav .material {
        font-size: 28px; }

.footer {
    width: 100%;
    background-color: lightgrey; }

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.small-caps {
    font-variant: small-caps; }
